*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

main{
  min-height: 100vh;
  /* 
   background: linear-gradient(to right top,
  #b8e2f7, #f3ddfa);
  */
  background: linear-gradient(to right bottom,
  rgba(117, 245, 250, 0.842),
  rgba(237, 128, 252, 0.459));
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  background: #20dfdf;
  min-height: 82vh;
  width: 90%;
  /* 
  background: linear-gradient(to right bottom,
  rgba(63, 203, 207, 0.842),
  rgba(236, 141, 248, 0.459));
   */
  background: linear-gradient(to right top,
  #b8e2f7, #f3ddfa);
  border-radius: 2.2rem;

}

body{
  background: var(--bg);
}

.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
}

.header .navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.home .content{
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(to right bottom,
  rgba(117, 245, 250, 0.842),
  rgba(237, 128, 252, 0.459));
}

