p{
    color: blueviolet;
}
.circle1{
    height : 80%;
    width : 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}
body{
    background-color: aqua;
}