:root{
  --main-color: #EBD671;
  --black: #05595B;
  --bg:#062C30;
  --border:.1rem var(--black)
}

*{
  font-family: 'Roboto', sans-serif;
  margin:5; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

body{
  background: var(--bg);
}

section{
  padding:2rem 7%;
}

.heading{
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span{
  color:var(--main-color);
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover{
  letter-spacing: .2rem;
}

.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.8rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.header .navbar a{
  margin:0 1.7rem;
  font-size: 2rem;
  color:#fff;
}

.header .navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:115%; right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color:var(--black);
  padding:1rem;
  text-transform: none;
}

.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color:var(--black);
}

.header .search-form label:hover{
  color:var(--main-color);
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 5rem;
  /*  text-transform: uppercase;*/
  color:#fff;
}

.home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.2;
  padding:1rem 0;
  color:#eee;
}







/*start about css */

.about .row{
  display: flex;
  align-items: center;
  background:var(--black);
  flex-wrap: wrap;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}
.about .row .content{
  flex:1 1 45rem;
  padding:2rem;
}

.about .row .content h3{
  font-size: 3rem;
  color:#fff;
}

.about .row .content p{
  font-size: 1.6rem;
  color:#ccc;
  padding:1rem 0;
  line-height: 1.8;
}
/*end about css */









/*start Features css */

.features .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.features .box-container .box-f{
  padding:5rem;
  text-align: center;
  border:var(--border);    
}

.features .box-container .box-f img{
  height: 10rem;
}

.features .box-container .box-f h3{
  color: #fff;
  font-size: 2rem;
  padding:1rem 0;
}

.features .box-container .box-f p{
  color: #fff;
  font-size: 1.5rem;
  padding:1rem 0;
}

.features .box-container .box-f .price{
  color: #fff;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.features .box-container .box-f .price span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.features .box-container .box-f:hover{
  background:#fff;
}

.features .box-container .box-f:hover > *{
  color:var(--black);
}

.box-f{
  background-color: #1a373a;
  box-shadow: 05px 05px whitesmoke;
  
}

/*ends Features css */











/*start menu css */

/*.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.menu .box-container .box{
  padding:5rem;
  text-align: center;
  border:var(--border);    
}

.menu .box-container .box img{
  height: 10rem;
}

.menu .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding:1rem 0;
}

.menu .box-container .box .price{
  color: #fff;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.menu .box-container .box .price span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover{
  background:#fff;
}

.menu .box-container .box:hover > *{
  color:var(--black);
}
 */







/*start pricing css */

/*.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.pricing .box-container .box-pricing{
  text-align: center;
  border:var(--border);
  padding: 2rem;
}

.pricing .box-container .box-pricing .icons a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border:var(--border);
  color:#fff;
  margin:.3rem;
}

.pricing .box-container .box-pricing .icons a:hover{
  background:var(--main-color);
}

.pricing .box-container .box-pricing .image{
  padding: 2.5rem 0;
}

.pricing .box-container .box-pricing .image img{
  height: 25rem;
}

.pricing .box-container .box-pricing .content h3{
  color:#fff;
  font-size: 2.5rem;
}

.pricing .box-container .box-pricing .content .stars{
  padding: 1.5rem;
}

.pricing .box-container .box-pricing .content .stars i{
  font-size: 1.7rem;
  color: var(--main-color);
}

.pricing .box-container .box-pricing .content .price{
  color:#fff;
  font-size: 2.5rem;
}

.pricing .box-container .box-pricing .content .price span{
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
} */







.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}


.pricing .box-container .box-pricing h1{
  padding:0;
  font-size: 2.5rem;
  color:#fff;
}

.pricing .box-container .box-pricing .stars i{
  font-size: 1.5rem;
  color:var(--main-color);
}

.box-pricing {
  margin: 1rem;
  width: 30rem;
  height: 60rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.fas{
  padding:1rem 0;
  text-align: center;
  font-size: 2rem;
  text-align: justify;
}













/*start team css */

.team .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.team .box-container .box{
  padding:5rem;
  text-align: center;
  border:var(--border);    
}

.team .box-container .box img{
  height: 20rem;
  width: 20rem;
}

.team .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding:1rem 0;
}

.team .box-container .box .price{
  color: #fff;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.team .box-container .box .price span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.team .box-container .box:hover{
  background:#fff;
}

.team .box-container .box:hover > *{
  color:var(--black);
}

h5{
  color: #ccc;
  font-size: 1.3rem;
}
 

/*ends team css */








/*start review css */
.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.review .box-container .box-r{
  border:var(--border);
  text-align: center;
  padding:3rem 2rem;
}

.review .box-container .box-r p{
  font-size: 1.5rem;
  line-height: 1.8;
  color:#ccc;
  padding:2rem 0;
}

.review .box-container .box-r .user{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box-r h3{
  padding:1rem 0;
  font-size: 2rem;
  color:#fff;
}

.review .box-container .box-r .stars i{
  font-size: 1.5rem;
  color:var(--main-color);
}

.box-r {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/*ends review css */








/*start contact css */

.contact .row{
  display: flex;
  background:var(--black);
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex:1 1 45rem;
  padding:5rem 2rem;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color:#fff;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background:var(--bg);
  border:var(--border);
}

.contact .row form .inputBox span{
  color:#fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  background:none;
}

/*ends contact css */












